@charset "UTF-8";
/*!
 * BNI Life Mobile App CMS
 * @version v0.1
 * @link https://mobilecom.co.id
 */

:root {
	--shadow: 0px 4px 20px rgba(0,0,0,0.2);
	--shadows: 0px 4px 10px rgba(0,0,0,0.2);
	--bniblue: #006885;
	--bniorange: #F15A22;
	--bniyellow: #F7941D;
	--bniaqua: #00AAAD;
	--bnired: #D0021B;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sidebar .nav-link:hover {
	background-color: var(--bniblue);
}
.sidebar .nav-link.active {
	background: var(--bniaqua);
}
.sidebar .nav-link.active .nav-icon {
	color: #fff;
}
.sidebar .nav-link .badge {
	color: #fff;
}

.main {
	padding-top: 2rem;
}

.search-container {
	background-color: var(--bniblue);
	border-top: 2px solid var(--bniyellow);
	padding: 1rem;
	margin: 1rem 0;
}

.searchbar .input-group-prepend .input-group-text {
	background-color: white;
}

.card {
	border-radius: 0.5rem;
}

.card-shadow {
	border-radius: 0.5rem;
	background-color: white;
	padding: 0.5rem;
}
.card-shadow:hover {
	box-shadow: var(--shadows);
	transition: all ease 0.3s;
}

.btn-primary {
	background-color: var(--bniblue);
	border-color: var(--bniblue);
}

.badge-warning {
	background-color: var(--bniyellow);
}

.claim-card {
	margin-bottom: 2rem;
}
.claim-num {
	position: relative;
	font-weight: bold;
}
.claim-sum {
	border-top: 1px solid #ddd;
	margin-top: 0.5rem;
	padding-top: 0.5rem;
}
.claim-sum i {
	width: 2rem;
	text-align: center;
	color: #aaa;
}
.claim-sum-name {
	color: var(--bniblue);
	font-weight: bold;
}
.claim-status {
	display: inline-block;
	float: right;
	padding: 0.2rem 0.5rem;
	border-radius: 5rem;
	color: white;
	margin-top: -1.5rem;
}
.claim-date {
	display: inline-block;
	margin-top: 0.2rem;
}

.cs-1 {
	background-color: var(--bniyellow);
}
.cs-2 {
	background-color: var(--bniaqua);
}
.cs-3 {
	background-color: var(--bniblue);
}
.cs-4 {
	background-color: var(--bnired);
}

/* Pagination */
.pagination {
  	border-radius: 0.5rem;
	margin-top: 1rem;
}
.pagination a {
  display: block;
  float: left;
  width: 2.5rem;
  height: 2.5rem;
	padding: 0.6rem 0;
  outline: none;
  color: #555555;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: #fff;
}
  .pagination a:hover, .pagination a:focus, .pagination a:active {
    background-color: var(--bniblue);
	  color: #fff;
}
  .pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.1);
    cursor: default; }

.pagination a:first-child {
  border: none;
  border-radius: 0.5rem 0 0 0.5rem; }

.pagination a:last-child {
  border: none;
  border-radius: 0 0.5rem 0.5rem 0; }

.pagination input {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 2.5rem;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center;
}

.customization h4 {
	background-color: #fff;
	color: #555;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}
.customization img {
	width: 180px;
	background-color: white;
}
.customization .icon-card img {
	width: 100%;
}
.customization input[type=file]{
	padding:10px;
	background:#fff;
	width: 100%;
	display:block;
}
.customization .icon-card {
	border: 1px solid #fff;
	border-radius: 0.4rem;
	margin-bottom: 1rem;
	width: 120px;
	overflow: hidden;
}
.customization .icon-card-title {
	background-color: #f5f5f5;
	padding: 0.5rem;
	font-weight: bold;
	height: 3.5rem;
}
.customization .btn {
	width: 100%;
}

table {
	background-color: white;
}
table thead {
	background-color: rgb(47, 53, 58);
	color: white;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#nav-tabDocument button,
#nav-tabContent button {
	display: block;
	width: 100px;
	margin-top: 1rem;
	margin-left: auto;
}

.modal-row {
	margin-bottom: 1rem;
}

.modal-row label {
	font-size: 0.8rem;
	color: rgba(0,0,0,0.3);
	font-weight: bold;
	margin-bottom: 0;
}
.modal-row div {
	font-weight: bold;
}

#faq-list-tab small {
	display: block;
	opacity: 0.7;
}

.user-switch {
	display: flex;
	flex-direction: row;
}
.user-role-text {
	margin-top: 0.1rem;
}

footer {
	margin-top: 3rem;
}